.app__container {
    display: flex;
}
.pages__container{
    flex: 5;
    height: 100vh;
    background-color: rgb(224, 224, 224);
    width: 100vw;
}

@media only screen and (max-width: 100px) {
    .pages__container{
        flex: 6;
        width: 100vw;
        overflow-y: hidden;
    }
  }