.table__actions{
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
}

.link__to__detail{
    text-decoration: none;
}

.link__to__detail{
    color: #000000;
    font-size: 14px;
    right: 0;
}

.visits__container{
    margin-top: 10px;
}