.table__actions{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.link__to__detail{
    text-decoration: none;
}

.link__to__detail{
    color: #F68403;
}

.visits__container{
    margin-top: 10px;
}