.text{
    text-align: center;
    color: red;
    font-size: 13px;
    align-items: center;
    margin: auto;
    padding: 20px;
    margin-bottom: 10px;
}

.success{
    text-align: center;
    color: green;
    font-size: 13px;
    align-items: center;
    margin: auto;
    padding: 20px;
    margin-bottom: 10px;
}