.submenu__link{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    list-style: none;
    font-size: 13px;

}
.submenu__link:hover{
   
}
.submenu__content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submenu__content:hover{
    color:#ed6602;
    cursor: pointer;
}
.submenu__title{
    margin-left: 18px;
    font-size: 13px;
    font-weight: bold;
}
.submenu__row{
    align-items: center;
    justify-content: center;
}
.submenu__sub__title{
    margin-left: 38px;
}

  