.modal__actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.cancel__button{
    background-color: #4CAF50; /* Green */
}

.danger__button{
    background-color: #ff1515; /* Green */
}