.container {
    display: flex;
    flex-direction: column;
}
.flex {
    //width: 100vw;
    display: flex;
    margin: 5px;
}
.sameRow {
    height: auto;
    width: 100%;
    margin: 5px;
    background-color: white;
}
